 @import url('https://fonts.googleapis.com/css?family=Fresca');
  @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
.navigation{
	font-family: 'Kaushan Script', cursive;
	background-color: #c0392b;
}
#wrapper {
    width:100%;
    overflow:hidden;
}
.nav-link{
	font-family: 'Kaushan Script', cursive;
	font-size: 15px;
}
#sidebar {	
    float:left;
	background-color: lightgrey;
}
#content {
    margin: 0 0 0 100px;
}
body{
	background-color: #95a5a6;
	animation:5s infinite;
}
.transparent-nav{
	color:black;
	text-align: center;
	text-decoration: underline;
	font-family: 'Fresca', sans-serif;
	position: fixed;
	width:8%;
	top:10%;
}
i{
	color:black;
	
}
i:hover{
	border:0.5px solid black;
}
.icons-contact{
	text-align: center;
	font-family: 'Fresca',sans-serif;
	font-size: 20px;
}
a{
	color:black;
}
.main-info{
	background-color: #c0392b;
	text-align: center;
	padding: 20%;
	font-family: 'Kaushan Script', cursive;
	line-height: 20;
}
.headline{
	font-size: 60px;
}
.about-info{
	background-color: #2980b9;
	line-height: 3;
	padding: 10%;
	text-align: center;
	font-family: 'Kaushan Script', cursive;

}
p{
	font-family: 'Fresca', sans-serif;
}
.work-info{
	background-color: #2980b9;
	padding: 10% 5% 5% 5%;
	text-align: center;
    font-family: 'Kaushan Script', cursive;
}
.card{

}
.card:hover{
	border:5px solid black;
}

.skills-info{
	background-color: #c0392b;
	padding: 10%;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}
.skills-h3{
	font-size: 150%;
	font-family: sans-serif;
}
li{
	font-family: 'Fresca', sans-serif;
	list-style: none;
}
@media only screen and (max-width: 768px) {
  #sidebar{
	  font-size: 20px;
		line-height: 1;
	}
	.main-info,.skills-info,.work-info{
		line-height: 1;
	
	}
	.main-info{
		padding:9%;
	}
	.skills-info{
		padding: 20%;
	}
	.navigation{
		display:none;
		background-color: transparent;
		margin:auto;
		font-size: 20px;
	}
	.headline{
		text-align: center;
		font-size: 45px;
	}
	.col-3{
		width: 100px;
	}
	.transparent-nav{
		top:0%;
	}
	.nav-link{
		font-size: 7px;
		border-bottom: none;
	}
	.nav{
		text-align: center;
	}
	p{
		font-size: 1rem;
	}
}
.container { width: 100%; max-width: 1280px; min-width: 320px; margin: 0 auto; clear: both; }

.col-3 { float: left;  width: 30.8%; margin-right: 3.8%; }

.last { margin-right: 0; }
.container {
  position: relative;
  width: 50%;

}
.image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
